* {
  margin: 0;
  padding: 0;
}

body {
  background: #F7F6FF;
}

.bloc_case {
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.but_anim:hover, footer.footer .container .main_info .foot_button:hover, section.form .container .case_form .items_form .button_form:hover, section.servise .container .item_services_container .item_service .button_item_service:hover, header.bloc_case .container .header_but:hover {
  background: linear-gradient(115deg, #e3346e 10.12%, #b21f83 100.01%);
}

header.bloc_case {
  background-color: #FFF;
  padding: 7px;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header.bloc_case .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.bloc_case .container .logo {
  height: 70px;
  width: auto;
}
header.bloc_case .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 30px;
}
header.bloc_case .container nav h2 {
  margin: 0px 16px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
header.bloc_case .container .header_but {
  padding: 14px 33px 14px 42px;
  border-radius: 9px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border: 0;
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

section.bloc_case {
  padding: 82px 0px 90px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.bloc_case .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.bloc_case .container .one_top_cese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
section.bloc_case .container .one_top_cese .title_top_bloc span {
  color: #333;
  font-family: Manrope;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px;
  text-transform: none;
}
section.bloc_case .container .one_top_cese .title_top_bloc {
  margin: 0;
  color: #333;
  font-family: Manrope;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
}
section.bloc_case .container .one_top_cese .text_top_bloc {
  margin-top: 14px;
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
section.bloc_case .container .one_top_cese .top_bloc_button_cese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
}
section.bloc_case .container .one_top_cese .top_bloc_button_cese .top_button {
  margin-right: 10px;
  border-radius: 250px;
  background: #77B2D3;
  padding: 14px 30px;
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border: 0px;
}
section.bloc_case .container .one_top_cese .top_bloc_img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

section.stat_bloc {
  padding: 0;
  max-width: 1170px;
}
section.stat_bloc .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 55px 56px 55px;
}
section.stat_bloc .container .title_stat_bloc {
  color: #333;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
section.stat_bloc .container .case_stat_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}
section.stat_bloc .container .case_stat_item .stat_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.stat_bloc .container .case_stat_item .stat_item .title_stat {
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.stat_bloc .container .case_stat_item .stat_item .text_stat_title {
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

section.servise {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 76px;
}
section.servise .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1170px;
}
section.servise .container .title_services {
  color: #333;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
section.servise .container .item_services_container {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
section.servise .container .item_services_container .item_service {
  max-width: 220px;
}
section.servise .container .item_services_container .item_service .box_item {
  min-height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
}
section.servise .container .item_services_container .item_service .box_item .box_item_topel .title_item_service_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 74px;
  border-radius: 15px 15px 0px 0px;
  background: #77B2D3;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
}
section.servise .container .item_services_container .item_service .box_item .box_item_topel .title_item_service_box .title_item_service {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}
section.servise .container .item_services_container .item_service .box_item .box_item_topel .points_item_service {
  padding: 12px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.servise .container .item_services_container .item_service .box_item .box_item_topel .points_item_service .points_item {
  padding: 9px 0px 0px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.servise .container .item_services_container .item_service .box_item .box_item_topel .points_item_service .points_item .img_point {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
section.servise .container .item_services_container .item_service .box_item .box_item_topel .points_item_service .points_item .text_point {
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
section.servise .container .item_services_container .item_service .box_item .foot_item_box .line_price_item {
  margin: 0 auto;
  background: #E2E2E2;
  width: 95%;
}
section.servise .container .item_services_container .item_service .box_item .foot_item_box .text_price_item_service {
  padding: 11px 0px;
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
section.servise .container .item_services_container .item_service .box_item .foot_item_box .text_price_item_service span {
  padding: 0px 5px;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  background: var(--3, linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.servise .container .item_services_container .item_service .button_item_service {
  margin: 21px 15px 0px 15px;
  padding: 14px 53px;
  border: 0px;
  border-radius: 9px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

section.form .container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.form .container .case_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.form .container .case_form .title_form {
  color: #333;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
section.form .container .case_form .text_form {
  padding-top: 22px;
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
section.form .container .case_form .items_form {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.form .container .case_form .items_form .first_item_case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.form .container .case_form .items_form .first_item_case .item_form_one {
  margin: 0px 30px 0px 0px;
  padding: 16px 19px;
  border: 0px;
  border-radius: 7px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
section.form .container .case_form .items_form .item_form_two {
  max-width: 475px;
  margin-top: 20px;
  padding: 16px 0px 100px 19px;
  border: 0px;
  border-radius: 7px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
section.form .container .case_form .items_form .focus_form:focus {
  background: #ededed;
}
section.form .container .case_form .items_form .checkbox_case {
  margin-top: 20px;
}
section.form .container .case_form .items_form .checkbox_case .checkbox_item {
  max-width: 32px;
  max-height: 32px;
  border: 0px;
  border-radius: 2px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
section.form .container .case_form .items_form .checkbox_case .checkbox_text {
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
section.form .container .case_form .items_form .button_form {
  margin-top: 23px;
  max-width: 195px;
  padding: 14px 55px;
  border: 0px;
  border-radius: 9px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
section.form .container .second_img {
  max-width: 570px;
}

section.slider {
  padding-top: 22px;
}
section.slider .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section.slider .container .title_slider {
  color: #333;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  text-transform: uppercase;
}
section.slider .container .item_sliser_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  border-radius: 15px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
section.slider .container .item_sliser_conteiner .item_slider {
  max-width: 570px;
}
section.slider .container .item_sliser_conteiner .item_slider .img_case {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.slider .container .item_sliser_conteiner .item_slider .img_case .logo_slider_item {
  padding: 4px 34px 0px 28px;
}
section.slider .container .item_sliser_conteiner .item_slider .text_slider {
  padding: 4px 34px 0px 28px;
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
section.slider .container .item_sliser_conteiner .item_slider .stats_item {
  margin-top: 24px;
  padding-top: 24px;
  padding: 26px;
  background: #F3F1FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.slider .container .item_sliser_conteiner .item_slider .stats_item .title_stat {
  color: #333;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}
section.slider .container .item_sliser_conteiner .item_slider .stats_item .case_stat {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.slider .container .item_sliser_conteiner .item_slider .stats_item .case_stat .item_stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.slider .container .item_sliser_conteiner .item_slider .stats_item .case_stat .item_stat .stat {
  color: #333;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
section.slider .container .item_sliser_conteiner .item_slider .stats_item .case_stat .item_stat .text_stat {
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
section.slider .container .item_sliser_conteiner .item_slider .system {
  padding: 24px 34px 0px 28px;
}
section.slider .container .item_sliser_conteiner .item_slider .system .title_system {
  color: #333;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}
section.slider .container .item_sliser_conteiner .item_slider .system .logo_system_case {
  padding: 13px 34px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.slider .container .item_sliser_conteiner .item_slider .system .logo_system_case .logo_system {
  margin-right: 16px;
}

footer.footer {
  width: 100%;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer.footer .container {
  padding: 0px 0px 73px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer.footer .container .main_info .logo {
  margin-top: 52px;
}
footer.footer .container .main_info .politic_confidentiality {
  margin-top: 5px;
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
footer.footer .container .main_info .foot_button {
  margin-top: 22px;
  padding: 14px 40px;
  border: 0px;
  border-radius: 9px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
footer.footer .container .info, footer.footer .container .servise_foot {
  margin-top: 52px;
}
footer.footer .container .info .title, footer.footer .container .servise_foot .title {
  margin-bottom: 10px;
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}
footer.footer .container .info .text, footer.footer .container .servise_foot .text {
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
footer.footer .end_bloc {
  width: 100%;
  background: #2D2D2D;
  text-align: center;
}
footer.footer .end_bloc .end_txt {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}