header{
    box-shadow: 0px 10px 50px 0px rgba(181, 181, 181, 0.25);
}

.address{
    width: 100%;
    display: flex;    
    justify-content: space-between;
    padding: 18px 0;
    .address_svg_text{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .address_svg{
            margin-right: 7px;
        }
        .address_text{
            color: $black-text;
            font-family: Gotham Pro;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .contacts{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .indentation_case_one{
        margin-right: 14px;
    }
    .indentation_case_two{
        margin-left: 14px;
    }
} 

.header_line{
    width: 100%;
    height: 1px;
    background: #DFDFDF;
}

.maim_header_case{
    padding: 22px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo_search{
        display: flex;
        align-items: center;
        .castom_search{
            position: relative;
            padding-left: 30px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 10px;
                margin: auto 0;
                width: 17px;
                height: 17px;
                background-image: url(../img/icons/input.svg);
                background-size: cover;
                
            }
            input {
                border: 1px solid #D1D1D1;
                background: #F6F6F6;
                padding: 12px 15px;
            }
        }

    }
    .button_head{
        display: flex;
        align-items: center;
        .button_img_name{
            display: flex;
            align-items: center;
            padding-left: 20px;
            .title_but{
                padding-left: 3px;
            }
        }
        .but{
            margin-left: 20px;
            background: $button;
            padding: 17px 15px;
            color: $white-text;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            @include button_animation;
        }
    }
}
.menu{
    padding: 33px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    &_item{
        color: $black-text;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.main{
    margin-top: 35px;
    padding: 82px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/picture/picture_one.png);
    background-repeat: no-repeat;
    color: $white-text;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    
}

@media (max-width: $mw4){
    .menu .menu_item{
            font-size: 10px;
        }
    
}

@media (max-width: $mw3){
    .address .address_svg_text .address_text,
    .address .contacts .address_svg_text .address_text{
        font-size: 11px;
    }
    .maim_header_case{
        padding: 6px 0px;
    }

    .castom_search{
        display: none;
    }

    .maim_header_case .button_head .but,
    .maim_header_case .button_head .button_img_name .title_but{
        font-size: 13px;
    }

    .menu{
        padding: 18px 0px;
        .menu_item{
            font-size: 8px;
        }
    }
}

@media (max-width: $mw2){
    .address .indentation_case_two{
        margin-left: 4px;
        .address_svg{
            margin-right: 2px;
        }
    }
    .address .indentation_case_one{
        margin-right: 4px;
        .address_svg{
            margin-right: 2px;
        }
    }

    .address > .address_svg_text > .address_text,
    .address > .contacts > .address_svg_text > .address_text{
        font-size: 9px;
    }

    .maim_header_case .button_head .button_img_name{
        padding-left: 8px;
    }

    .maim_header_case .button_head .but,
    .maim_header_case .button_head .button_img_name .title_but{
        font-size: 10px;
        margin-left: 4px;

    }

    .menu{
        padding: 6px 0px;
        justify-content: space-around;
        flex-wrap: wrap;
        .menu_item{
            margin-top: 12px;
            font-size: 10px;
        }
    }
}

@media (max-width: $mw1){
    .address{
        flex-direction: column;
        order: 2;
        padding: 7px 0px;
    }

    .maim_header_case{
        order: 1;
    }

    .menu{
        left: -100%;
        position: absolute;
        background-color: rgba($color: #1b1b1b, $alpha: 0.9);
        width: 87%;
        height: 100%;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        .menu_item{
            margin-left: 15px;
            margin-top: 20px;
            color: $white-text;
            font-size: 12px;
            &:first-child{
                margin-top: 30px;
            }
        }
        option{
            color: $black-text;
        }
        .menu_item_buirg{
            margin-left: 11px;
        }
    }

    .burg_menu_open{
        left: 0;
    }

    .burger{
        margin-left: 7px;
        position: relative;
        height: 40px;
        width: 40px;
        span{
            width: 70%;
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translateY(-50%);
            height: 1px;
            background-color: black;
        }
        .one_line{
            top: 35%;
        }
        .two_line{
            top: 65%;
        }
    }

    .address .address_svg_text{
        justify-content: flex-start;
        margin-left: 3px;
    }

    .address .contacts{
        margin-top: 5px;
        justify-content: flex-start;
    }
    .logo_img{
        width: 100px;
    }

    .maim_header_case .button_head .button_img_name{
        display: none;
    }

    .maim_header_case .button_head .but{
        padding: 10px 7px;
    }
}