@import "../fonts/stylesheet.css";
.cursor_hover {
  cursor: pointer;
}
.cursor_hover:active {
  color: #818181;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select,
option {
  background: none;
  border: 0px;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0;
  font-family: "Gotham Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
main,
footer,
section {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 15px;
}

header {
  box-shadow: 0px 10px 50px 0px rgba(181, 181, 181, 0.25);
}

.address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
.address .address_svg_text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.address .address_svg_text .address_svg {
  margin-right: 7px;
}
.address .address_svg_text .address_text {
  color: #1D1D1B;
  font-family: Gotham Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.address .contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.address .indentation_case_one {
  margin-right: 14px;
}
.address .indentation_case_two {
  margin-left: 14px;
}

.header_line {
  width: 100%;
  height: 1px;
  background: #DFDFDF;
}

.maim_header_case {
  padding: 22px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.maim_header_case .logo_search {
  display: flex;
  align-items: center;
}
.maim_header_case .logo_search .castom_search {
  position: relative;
  padding-left: 30px;
}
.maim_header_case .logo_search .castom_search:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
  width: 17px;
  height: 17px;
  background-image: url(../img/icons/input.svg);
  background-size: cover;
}
.maim_header_case .logo_search .castom_search input {
  border: 1px solid #D1D1D1;
  background: #F6F6F6;
  padding: 12px 15px;
}
.maim_header_case .button_head {
  display: flex;
  align-items: center;
}
.maim_header_case .button_head .button_img_name {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.maim_header_case .button_head .button_img_name .title_but {
  padding-left: 3px;
}
.maim_header_case .button_head .but {
  margin-left: 20px;
  background: #E2231A;
  padding: 17px 15px;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.maim_header_case .button_head .but:active {
  transition: all 0.2s;
  background-color: #cc3129;
  box-shadow: 0px 10px 50px 0px rgba(140, 140, 140, 0.5);
}

.menu {
  padding: 33px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu_item {
  color: #1D1D1B;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  margin-top: 35px;
  padding: 82px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/picture/picture_one.png);
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .menu .menu_item {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .address .address_svg_text .address_text,
  .address .contacts .address_svg_text .address_text {
    font-size: 11px;
  }
  .maim_header_case {
    padding: 6px 0px;
  }
  .castom_search {
    display: none;
  }
  .maim_header_case .button_head .but,
  .maim_header_case .button_head .button_img_name .title_but {
    font-size: 13px;
  }
  .menu {
    padding: 18px 0px;
  }
  .menu .menu_item {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  .address .indentation_case_two {
    margin-left: 4px;
  }
  .address .indentation_case_two .address_svg {
    margin-right: 2px;
  }
  .address .indentation_case_one {
    margin-right: 4px;
  }
  .address .indentation_case_one .address_svg {
    margin-right: 2px;
  }
  .address > .address_svg_text > .address_text,
  .address > .contacts > .address_svg_text > .address_text {
    font-size: 9px;
  }
  .maim_header_case .button_head .button_img_name {
    padding-left: 8px;
  }
  .maim_header_case .button_head .but,
  .maim_header_case .button_head .button_img_name .title_but {
    font-size: 10px;
    margin-left: 4px;
  }
  .menu {
    padding: 6px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .menu .menu_item {
    margin-top: 12px;
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .address {
    flex-direction: column;
    order: 2;
    padding: 7px 0px;
  }
  .maim_header_case {
    order: 1;
  }
  .menu {
    left: -100%;
    position: absolute;
    background-color: rgba(27, 27, 27, 0.9);
    width: 87%;
    height: 100%;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu .menu_item {
    margin-left: 15px;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 12px;
  }
  .menu .menu_item:first-child {
    margin-top: 30px;
  }
  .menu option {
    color: #1D1D1B;
  }
  .menu .menu_item_buirg {
    margin-left: 11px;
  }
  .burg_menu_open {
    left: 0;
  }
  .burger {
    margin-left: 7px;
    position: relative;
    height: 40px;
    width: 40px;
  }
  .burger span {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    height: 1px;
    background-color: black;
  }
  .burger .one_line {
    top: 35%;
  }
  .burger .two_line {
    top: 65%;
  }
  .address .address_svg_text {
    justify-content: flex-start;
    margin-left: 3px;
  }
  .address .contacts {
    margin-top: 5px;
    justify-content: flex-start;
  }
  .logo_img {
    width: 100px;
  }
  .maim_header_case .button_head .button_img_name {
    display: none;
  }
  .maim_header_case .button_head .but {
    padding: 10px 7px;
  }
}
.box_mid {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25px;
}

.main {
  border-radius: 4px;
}

aside {
  max-width: 360px;
  width: 100%;
}
aside .aside_item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  border: 1px solid rgba(226, 35, 26, 0.5);
  background: #FFFFFF;
  text-align: center;
  color: #1D1D1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
aside .button, aside .no_none_bt {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
aside .button:after, aside .no_none_bt:after {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  max-width: 80px;
  width: 100%;
  height: 1px;
  background-color: #1D1D1B;
  border-top: 1px dotted #ffffff;
}
aside .none {
  display: none;
}
aside .no_none {
  display: inline-block;
}

.next_bloc_main .main_info {
  padding-right: 30px;
}
.next_bloc_main .main_info .title {
  color: #1D1D1B;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.next_bloc_main .main_info .min_text {
  padding-top: 18px;
  color: rgba(29, 29, 27, 0.75);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.next_bloc_main .main_info .min_text:first-child {
  padding-top: 25px;
}
.next_bloc_main .news {
  padding: 49px 30px 0px 0px;
}
.next_bloc_main .news_title {
  color: #373737;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}
.next_bloc_main .news_items {
  margin-top: 15px;
  display: flex;
  background: #F1F1F1;
}
.next_bloc_main .news_items .news_box {
  padding: 0px 25px;
}
.next_bloc_main .news_items .news_box .title_img {
  color: #1D1D1B;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.next_bloc_main .news_items .news_box .news_text {
  padding-top: 20px;
  color: rgba(29, 29, 27, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}
.next_bloc_main .news_items .news_box .news_box_but_looked {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.next_bloc_main .news_items .news_box .news_box_but_looked .news_box_looked {
  display: flex;
}
.next_bloc_main .news_items .news_box .news_box_but_looked .news_box_text {
  padding-left: 5px;
  color: #1B1B1B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.next_bloc_main .news_items .news_box .news_box_but_looked .news_txt {
  position: relative;
}
.next_bloc_main .news_items .news_box .news_box_but_looked .news_txt:after {
  content: "";
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #1D1D1B;
  border-top: 1px dotted #ffffff;
}
.next_bloc_main .news_button {
  margin-top: 20px;
  padding: 18px 0px;
  width: 100%;
  background-color: #E2231A;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.next_bloc_main .news_button:active {
  transition: all 0.2s;
  background-color: #cc3129;
  box-shadow: 0px 10px 50px 0px rgba(140, 140, 140, 0.5);
}

@media (max-width: 1200px) {
  .main {
    margin-top: 0px;
    font-size: 40px;
  }
  .next_bloc_main .main_info .title {
    font-size: 26px;
  }
  .next_bloc_main .main_info .min_text {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  aside {
    display: none;
  }
  .next_bloc_main .main_info {
    padding: 0;
  }
  .next_bloc_main > .news {
    padding: 20px 0px 0px 0px;
  }
  .main {
    margin-top: 0px;
    font-size: 30px;
  }
  .next_bloc_main .main_info .title {
    font-size: 21px;
  }
  .next_bloc_main .main_info .min_text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 10px;
    font-size: 23px;
  }
  .next_bloc_main .main_info .title {
    font-size: 19px;
  }
  .next_bloc_main .main_info .min_text {
    font-size: 14px;
  }
  .next_bloc_main .news_title {
    margin-bottom: 5px;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 60px 0px;
    margin-top: 5px;
    font-size: 23px;
  }
  .next_bloc_main .news_title {
    font-size: 16px;
  }
  .next_bloc_main .main_info .title {
    font-size: 16px;
  }
  .next_bloc_main .main_info .min_text {
    font-size: 14px;
  }
  .news_img {
    width: 170px;
    height: 170px;
  }
  .next_bloc_main .news_items .news_box {
    padding: 0 0 0 10px;
  }
  .next_bloc_main .news_items .news_box .title_img {
    font-size: 14px;
  }
  .next_bloc_main .news_items .news_box .news_text {
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
  }
  .news_box_looked_svg {
    width: 15px;
  }
  .next_bloc_main .news_items .news_box .news_box_but_looked .news_box_text {
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  .news_img {
    display: none;
  }
  .next_bloc_main .news_items .news_box {
    padding: 0px;
  }
}
.first_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.first_box .footer_text {
  color: rgba(29, 29, 27, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.first_box .menu_item {
  margin-left: 40px;
}

.second_box {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.second_box .footer_text {
  color: rgba(29, 29, 27, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.second_box .footer_button_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second_box .footer_button_box .footer_button_text {
  margin-left: 35px;
  position: relative;
}
.second_box .footer_button_box .footer_button_text:after {
  content: "";
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #1D1D1B;
  border-top: 1px dotted #ffffff;
}

@media (max-width: 1200px) {
  .second_box .footer_text {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .second_box .footer_text {
    font-size: 9px;
  }
  .second_box .footer_button_box .footer_button_text {
    font-size: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .first_box .menu {
    display: none;
  }
  .first_box {
    margin-top: 10px;
  }
  .first_box .footer_text {
    font-size: 9px;
  }
  .second_box .footer_text {
    margin-top: 10px;
    font-size: 9px;
  }
  .second_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .second_box .footer_button_box .footer_button_text {
    margin-top: 5px;
    margin-left: 0px;
  }
  .second_box .footer_button_box .footer_button_text:last-child {
    margin-left: 15px;
  }
}
@media (max-width: 320px) {
  .second_box {
    margin-bottom: 15px;
  }
  .second_box .footer_button_box .footer_button_text:last-child {
    font-size: 8px;
  }
  .second_box .footer_button_box .footer_button_text:last-child {
    margin-left: 12px;
  }
}/*# sourceMappingURL=index.css.map */